<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <connectionStrings>
    <add name="Con1" connectionString="Data Source=SERVER;Initial Catalog=ERP_X2;Integrated Security=True" providerName="System.Data.SqlClient" />
	  <add name="Con" connectionString="Data Source=SERVER;Initial Catalog=ERP_X2;User ID=sa;Password=sa123" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>



  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="Login.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>


</configuration>